baseURL = 'https://example.org/'
languageCode = 'ja'
title = 'My New Hugo Site'
theme = 'hugo-theme-stack'
[params]
    mainSections = ["posts"]
    featuredImageField = "image"
    rssFullContent = true
    
[menu]
    [[menu.main]]
        identifier = "home"
        name = "Home"
        url = "/"
        weight = -100
        
    [[menu.main]]
        identifier = "posts"
        name = "Posts"
        url = "/posts/"
        weight = -90